body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.ground {
  width: 100%;
  height: 40%;
  background: linear-gradient(
    30deg,
    rgb(0, 150, 255) 0%,
    rgb(220, 240, 255) 80%
  );
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.sun {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: -50px;
  right: -50px;
}
.mountain-1 {
  width: 400px;
  height: 500px;
  background: linear-gradient(
    70deg,
    rgb(0, 100, 160) 0%,
    rgb(220, 220, 220) 70%
  );
  transform: skew(-20deg, 44deg);
  position: absolute;
  top: 35%;
  left: -5%;
  z-index: 1;
}
.mountain-2 {
  width: 400px;
  height: 400px;
  background: linear-gradient(
    40deg,
    rgb(0, 100, 160) 0%,
    rgb(220, 220, 220) 70%
  );
  transform: skew(-40deg, 45deg);
  z-index: -1;
  position: absolute;
  top: 45%;
  left: 15%;
}
