body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.ground {
  width: 100%;
  height: 50%;
  background: linear-gradient(
    30deg,
    rgb(0, 150, 255) 0%,
    rgb(220, 240, 255) 80%
  );
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.sun {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 50px;
  right: 50px;
}
.mountain-1 {
  width: 400px;
  height: 280px;
  background: linear-gradient(
    70deg,
    rgb(0, 100, 160) 0%,
    rgb(220, 220, 220) 70%
  );
  transform: skew(-20deg, 44deg);
  position: absolute;
  top: 40%;
  left: -5%;
  z-index: 1;
}
.mountain-2 {
  width: 280px;
  height: 180px;
  background: linear-gradient(
    40deg,
    rgb(0, 100, 160) 0%,
    rgb(220, 220, 220) 70%
  );
  transform: skew(-40deg, 45deg);
  z-index: -1;
  position: absolute;
  top: 55%;
  left: 15%;
}
/*First penguin*/
.penguin-1 {
  width: 300px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 20%;
  z-index: 3;
}
.head-1 {
  width: 150px;
  height: 150px;
  border-radius: 80% 80% 100% 100%;
  background: linear-gradient(
    60deg,
    black 0%,
    rgb(77, 76, 76) 60%,
    rgb(155, 154, 154) 100%
  );
  margin: auto;
  position: relative;
  top: 10%;
  z-index: 2;
}
.body-1 {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    60deg,
    black 0%,
    rgb(77, 76, 76) 60%,
    rgb(155, 154, 154) 100%
  );
  margin: auto;
  border-radius: 70% 70% 90% 90%;
}
.face-1 {
  position: absolute;
  width: 100px;
  height: 120px;
  background-color: white;
}
.face-1.left {
  top: 8%;
  left: 5%;
  border-radius: 50% 50% 35% 50%;
}
.face-1.right {
  top: 8%;
  right: 5%;
  border-radius: 50% 50% 50% 35%;
}
.eyes-1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}
.eyes-1.left {
  top: 25%;
  left: 25%;
  z-index: 1;
}
.eyes-1.right {
  top: 25%;
  left: 50%;
  z-index: 1;
}
.cheeks-1 {
  width: 20px;
  height: 10px;
  background-color: rgb(250, 162, 177);
  border-radius: 50%;
  position: relative;
}
.cheeks-1.left {
  top: 35%;
  left: 8%;
}
.cheeks-1.right {
  top: 35%;
  left: 70%;
}
.beak-1 {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid orange;
  position: relative;
  margin: auto;
  top: 55%;
}
.body-1::before {
  content: "";
  width: 35%;
  height: 20%;
  background-color: snow;
  position: absolute;
  left: 33%;
  z-index: 1;
  border-radius: 40% 40% 100% 100%;
}
.feet-1 {
  background-color: orange;
  width: 60px;
  height: 30px;
  border-radius: 50%;
}
.feet-1.left {
  transform: rotate(-20deg);
  position: relative;
  left: 30%;
  top: -2%;
  z-index: -1;
}
.feet-1.right {
  transform: rotate(20deg);
  position: relative;
  top: -10%;
  left: 55%;
  z-index: -1;
}
.arms-1 {
  width: 50%;
  height: 12%;
  background: linear-gradient(
    60deg,
    black 0%,
    rgb(77, 76, 76) 60%,
    rgb(155, 154, 154) 100%
  );
  position: absolute;
}
.arms-1.left {
  z-index: -1;
  left: 2%;
  bottom: 40%;
  transform: rotate(20deg) scaleX(-1);
  border-radius: 100% 100% 100% 100%;
  background: rgb(43, 42, 42);
  animation: 2s linear infinite wave;
}
.arms-1.right {
  left: 50%;
  bottom: 35%;
  border-radius: 100% 100% 100% 100%;
  transform: rotate(45deg);
  z-index: -1;
}
@keyframes wave {
  10% {
    transform: rotate(45deg) scaleX(-1);
  }
  20% {
    transform: rotate(60deg) scaleX(-1);
  }
  30% {
    transform: rotate(45deg) scaleX(-1);
  }
  40% {
    transform: rotate(60deg) scaleX(-1);
  }
}
/*Second penguin*/
.penguin-2 {
  width: 150px;
  height: 220px;
  position: absolute;
  right: 10%;
  top: 40%;
  z-index: 3;
}
.head-2 {
  margin: auto;
  width: 100px;
  height: 80px;
  background: linear-gradient(
    60deg,
    black 0%,
    rgb(77, 76, 76) 60%,
    rgb(155, 154, 154) 100%
  );
  border-radius: 100% 100% 120% 120%;
  position: relative;
  top: 10%;
  z-index: 2;
}
.body-2 {
  margin: auto;
  width: 120px;
  height: 120px;
  background: linear-gradient(
    60deg,
    black 0%,
    rgb(77, 76, 76) 60%,
    rgb(155, 154, 154) 100%
  );
  border-radius: 70% 70% 90% 90%;
}
.body-2::before {
  content: "";
  width: 40%;
  height: 20%;
  background-color: snow;
  position: absolute;
  border-radius: 40% 40% 100% 100%;
  z-index: 1;
  left: 30%;
}
.face-2 {
  background-color: white;
  width: 50px;
  height: 60px;
  position: absolute;
  top: 10%;
}
.face-2.left {
  border-radius: 50% 50% 20% 50%;
  left: 10%;
}
.face-2.right {
  border-radius: 50% 50% 50% 20%;
  left: 40%;
}
.eyes-2 {
  background-color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
}
.eyes-2.left {
  top: 25%;
  left: 25%;
}
.eyes-2.right {
  top: 25%;
  left: 40%;
}
.cheeks-2 {
  background-color: rgb(248, 161, 176);
  width: 12px;
  height: 6px;
  border-radius: 50%;
  position: relative;
}
.cheeks-2.left {
  top: 35%;
  left: 10%;
}
.cheeks-2.right {
  top: 35%;
  left: 65%;
}
.beak-2 {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid orange;
  position: relative;
  margin: auto;
  top: 55%;
}
.feet-2 {
  background-color: orange;
  border-radius: 50%;
  width: 30px;
  height: 15px;
  position: relative;
  z-index: -1;
}
.feet-2.left {
  transform: rotate(-20deg);
  left: 20%;
  top: -5%;
}
.feet-2.right {
  transform: rotate(25deg);
  left: 62%;
  top: -12%;
}
.arms-2 {
  background: linear-gradient(
    60deg,
    black 0%,
    rgb(77, 76, 76) 60%,
    rgb(155, 154, 154) 100%
  );
  width: 40%;
  height: 10%;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}
.arms-2.left {
  background: rgb(43, 42, 42);
  transform: rotate(-40deg);
  bottom: 38%;
  left: -15%;
}
.arms-2.right {
  left: 75%;
  bottom: 35%;
  transform: rotate(40deg);
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .ground {
    height: 55%;
    bottom: -20%;
  }
  .mountain-1 {
    height: 200px;
    width: 300px;
    top: 55%;
    left: -12%;
  }
  .mountain-2 {
    top: 60%;
    width: 200px;
  }
  .penguin-1 {
    top: 50%;
  }
  .penguin-2 {
    top: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .ground {
    height: 50%;
    width: 100%;
  }
  .mountain-1 {
    width: 250px;
    height: 150px;
    left: -25%;
  }
  .mountain-2 {
    width: 200px;
    height: 100px;
  }
  .penguin-1 {
    left: 10%;
    top: 30%;
  }
  .penguin-2 {
    display: none;
  }
}
